/*
    Document   : credential_css
    Created on : 24 Aug, 2011, 11:54:20 PM
    Author     : Kingshuk
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body {
    /*background-color: #90d5be;*/
    background-color: #90d5be;
    font-size: small;
    font-family: /*arial,verdana,sans-serif;*/ Georgia, Times-New-Roman, serif;
    margin: 0;
    padding: 0;
    /*height: 100%;*/
}

#allcontent {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    height: auto;
    background-color: #C8C8C8;
    /*box-shadow:0px 0px 10px 5px #585858;*/
    /*background-image: url('/SmartMoneyPlansDemo/images/background_content.jpg');
    background-repeat: repeat-y;*/

}

#actual_content {
    /*padding: 0px 20px 30px 5px;*/
    padding: 0;
    /*margin:0px 0px 0px 225px;*/
    margin: 0;
    /*height: auto;*/
    min-height: 200px;
    background-color: #90d5be;
    /*background-image: url('/SmartMoneyPlansDemo/images/background2.jpg');
    background-repeat: no-repeat;*/
    /*border-right:5px solid;
    border-color:#C8C8C8;
    border-collapse:collapse;*/
}

#content-body {
    padding: 5px 30px 30px 30px;
    /*margin:0px 0px 0px 225px;*/
    margin-left: 275px;
    /*height: auto;*/
    min-height: 270px;
    width: auto;
    background-color: #90d5be;
    /*border:5px solid;
    border-color:#66CD00;
    border-collapse:collapse;*/
    /*border-radius:18px;*/
}

.contained-content{
    width: 700px;
    height:350px;
    min-height: 200px;
    overflow:auto;
    padding:15px;
    margin:15px;
}

#header {
    /*position: absolute;
    top: 0px;
    left: 0px;*/
    width: 100%;
    height: 110px;
    background-color: #90d5be;
    /*border-radius:10px;*/

}

#header ul {
    list-style-type: none;
    margin: 0px 0px 5px 0px;
}

#header ul li {
    padding: 3px 5px 3px 5px;
    float: right;
    height: 10px;
    display: inline;
}

#header ul li a:link {
    text-decoration: none;
    color: #585858;
    font-size: 75%;
    font-weight: normal;
}

#header ul li a:visited {
    text-decoration: none;
    color: #585858;
    font-size: 75%;
    font-weight: normal;
}

#header ul li a:hover {
    text-decoration: underline;

}

#header_link {
    /*position:absolute;
    right:0px;
    top:0px;*/
    float: right;
    width: 350px;
    height: 60px;
    padding: 2px 20px 2px 0px;
    margin: 0px;
    background-color: #ADEAEA;
}

#welcome_message {
    padding: 25px 0px 5px 0px;
    color: #388E8E;
    float: right;
    font-size: 100%;
    font-weight: bold;
}

#welcome_message a:link {
    color: #585858;
}

#welcome_message a:visited {
    color: #585858;
}

h2 {
    color: #7F3D0C;
    font-size: 150%;
    padding: 15px 0 10px 10px;
}

h3 {
    color: #7F3D0C;
    font-size: 120%;
    padding: 15px 0px 0px 10px;
    margin: 10px 10px 10px 0;
}

h4{
    color: #7F3D0C;
    font-size: 120%;
    padding: 15px 0px 0px 10px;
    margin: 10px 10px 10px 0;
}

.success_notifications {
    padding: 2px 5px 2px 15px;
    margin: 10px 50px 20px 0px;
    height: auto;
    width: auto;
    background-color: #90EE90;
    /*border:5px solid;
    border-color:#66CD00;
    border-collapse:collapse;*/
    /*border-radius:18px;*/
}

#sidebar {
    height: 700px;
    min-height: 100px;
    width: 220px;
    float: left;
    margin: 8px 25px 0 15px;
    padding: 0px 0px 15px 0px;
    box-shadow: 2px 0px 5px 2px #585858;
    background-color: #ADEAEA;
    overflow-y: auto;
}

#sidebar ul {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

#sidebar ul li {
    /*list-style-type: square;?*/

    padding: 12px;
    margin: 1px 16px 1px 10px;
    display: block;
    border-bottom: 1px solid #488214;
}

#sidebar ul li a:link {
    background: url('/SmartMoneyPlansDemo/images/green_arrow.png') no-repeat left;
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}

#sidebar ul li a:visited {
    background: url('/SmartMoneyPlansDemo/images/green_arrow.png') no-repeat left;
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}

#sidebar ul li a:hover {
    /*background-image: url('/SmartMoneyPlansDemo/images/green_arrow.png');*/
    background: no-repeat left;
    text-decoration: underline;
}

.active {
    padding: 15px;
    margin: 5px;
    background-color: skyblue;
}

.included-page{
    background: skyblue;
    padding:15px;
}

a:link {
    color: #50A6C2;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #50A6C2;
    text-decoration: none;
    font-weight: bold;
}

.tableinfo {
    border: 2px solid #488214;
    border-collapse: collapse;
    text-align: center;
    width: 70%;
}

.tableinfo td {
    padding: 5px;
    color: #585858;
    height: 25px;
    font-weight: bold;
    vertical-align: middle;

    /*background-color:#66CD00;*/
}

.tableinfo th {
    background-color: #488214;
    color: white;
    height: 22px;
}

#button {
    text-align: center;
    background: #50A6C2 no-repeat;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
}

.rightnote {
    loat: right;
    height: auto;
    min-height: 300px;
    width: 300px;
    background-color: #ADEAEA;
    box-shadow: 2px 0px 5px 2px #585858;
    margin: 10px;
}

.tabledata {
    border: 2px solid #488214;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

.tabledata td {
    padding: 5px;
    color: #585858;
    height: 25px;
    /*font-weight: bold;*/
    vertical-align: middle;
    border: 1px solid #66CD00;
    font-family: arial;
    font-weight: normal;
    font-size: 90%;
    /*background-color:#66CD00;*/
}

.tabledata thead {
    background-color: #488214;
    color: white;
    height: 22px;
    font-family: arial;
    font-weight: bold;
    font-size: 90%;
}

#content-body_ul {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    border: 2px solid black;
}

#content-body_ul li {
    padding: 12px;
    margin: 1px 16px 1px 10px;
    display: block;
    color: #585858;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid black;
}

#content_within {
    margin: 8px 8px 8px 38px;
    border: 2px solid black;
}

#content_within_ul {
    list-style-type: none;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

#content_within_ul li {
    padding: 12px;
    display: block;
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}

.highlighted {
    background-color: yellow;
    font-style: italic;
}

.highlighted_green {
    background-color: green;
    font-style: italic;
}

.highlighted_sky_blue {
    background-color: skyblue;
    font-style: italic;
}

.ul_background {
    background-color: ‎‎ #DACC76;
}

.output_content {
    padding: 12px;
    margin: 15px 15px 15px 0px;
    color: #585858;
    border: 2px solid #488214;
    width: 70%;
}

.sub_nav {
    font-size: 80%;
    width: 80%;
    float: left;
    display: none;
}

.display-none {
    display: none !important;
}

#sidebar ul .sub_nav {
    margin: 0 15px 15px 0;
}

p {
    font-family: Arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #585858;
    margin: 5px;
}

.float-right {
    float: right;
}

.prelogin-button {
    width: 230px;
    height: 40px;
    min-height: 15px;
    background-color: #009053;
    box-shadow: 1px 2px 3px #808080;
    text-align: center;
    vertical-align: middle;
    border: 0;
    cursor: pointer !important;
}

.prelogin-button-text {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 5px 0;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

ol,ul {
    font-family: Arial, sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #585858;
}

ol,ul li {
    padding:5px;
}

img{
    margin:15px 15px 15px 0;
}
.error-message {
    background-color: #FFCCCC;
    color: #7F3D0C;
    /*font-size: 120%;*/
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px #FFCCCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.success-message {
    background-color: #00CC99;
    color: #7F3D0C;
    /*font-size: 120%;*/
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px #00CC99;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

